includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    parseModelCastsMethod: true
    paths:
        - app/Application
        - app/Domain
        - app/Integrations

    tmpDir: storage/framework/cache/phpstan
